@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
    font-family: 'Noto Serif', serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: black;
}

.buttonOkno {
    cursor: pointer;
}

#welcome {
    text-align: center;
    font-size: 70px;
    text-shadow: #CEBC81 1px 3px 0, #333 1px 1px 0;
}

#colorBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin: auto;
    margin-top: 10px;
}

#lol {
    display: block;
}

#home1 {
    display: flex;
    justify-content: space-evenly;
}

#home1 img {
    max-width: 200px;
}

#home2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#home2 img {
    max-width: 200px;
}

#home1andhome2 {
    display: block;
    margin-top: 100px;
}

.randomiser {
    display: flex;
    background-color: #4B2E83;
    border-radius: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px;
    transition: padding 0.3s;
    box-shadow: 0 5px 0 #230d2f;
}

.randomiser:hover {
    margin: 15px;
    padding: 25px 35px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.2s;
}

.onep {
    max-width: 220px;
    font-size: 34px;
    padding-left: 20px;
    margin: 0px;
    margin-top: 10px;
}

.twop {
    max-width: 220px;
    font-size: 20px;
    padding-left: 20px;
    margin: 0px;
    margin-top: 10px;
    color: rgb(131, 125, 125);
}

#one h2 {
    border: 2px solid black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #CEBC81;
    font-size: 40px;
    border-radius: 5px;
}

#one input {
    font-size: 30px;
    background-color: #CEBC81;
    border-radius: 5px;
}

#one {
    padding-top: 82px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#one img {
    max-width: 150px;
    display: flex;
}

#two h2 {
    border: 2px solid black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #CEBC81;
    font-size: 40px;
    border-radius: 5px;
}

#two {
    padding-top: 95px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#two input,
select {
    font-size: 30px;
    background-color: #CEBC81;
    border-radius: 5px;
}

#three {
    padding-top: 6px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#three span {
    font-size: 28px;
}

#three input {
    font-size: 30px;
    background-color: #CEBC81;
    border-radius: 5px;
}

#three h2 {
    border: 2px solid black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #CEBC81;
    font-size: 40px;
    border-radius: 5px;
}

#four {
    padding-top: 90px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#four input {
    font-size: 30px;
    background-color: #CEBC81;
    border-radius: 5px;
}

#four h2 {
    border: 2px solid black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #CEBC81;
    font-size: 40px;
    border-radius: 5px;
}

#five {
    padding-top: 100px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#five h2 {
    border: 2px solid black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #CEBC81;
    font-size: 40px;
    border-radius: 5px;
}

#five input {
    font-size: 30px;
    background-color: #CEBC81;
    border-radius: 5px;
}

#holiday {
    font-size: 30px;
    background-color: #CEBC81;
}

#color {
    font-size: 30px;
}

#date {
    font-size: 30px;
    background-color: #CEBC81;
}

#test {
    font-size: 30px;
    background-color: #CEBC81;
}

#test2 {
    font-size: 30px;
    background-color: #CEBC81;
}


/* Окна рандомайзеров */

#okno {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 40%;
    text-align: center;
    right: 0;
    bottom: 260px;
    left: 0;
    margin: auto;
    background-color: #479761;
    position: absolute;
    padding: 25px 35px;
    box-shadow: 0 5px 0 #230d2f;
    border: 3px solid;
}

#zatemnenie {
    background: #2c2d2eb9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie:target {
    display: block;
}

#okno2 {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 40%;
    text-align: center;
    right: 0;
    bottom: 260px;
    left: 0;
    margin: auto;
    background-color: #479761;
    position: absolute;
    padding: 25px 35px;
    box-shadow: 0 5px 0 #230d2f;
    border: 3px solid;
}

#zatemnenie2 {
    background: #2c2d2eb9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie2:target {
    display: block;
}

#okno3 {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 40%;
    text-align: center;
    right: 0;
    bottom: 260px;
    left: 0;
    margin: auto;
    background-color: #479761;
    position: absolute;
    padding: 25px 35px;
    box-shadow: 0 5px 0 #230d2f;
    border: 3px solid;
}

#zatemnenie3 {
    background: #2c2d2eb9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie3:target {
    display: block;
}

#okno4 {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 40%;
    text-align: center;
    right: 0;
    bottom: 260px;
    left: 0;
    margin: auto;
    background-color: #479761;
    position: absolute;
    padding: 25px 35px;
    box-shadow: 0 5px 0 #230d2f;
    border: 3px solid;
}

#zatemnenie4 {
    background: #2c2d2eb9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie4:target {
    display: block;
}

#okno5 {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    height: 40%;
    text-align: center;
    right: 0;
    bottom: 260px;
    left: 0;
    margin: auto;
    background-color: #479761;
    position: absolute;
    padding: 25px 35px;
    box-shadow: 0 5px 0 #230d2f;
    border: 3px solid;
}

#zatemnenie5 {
    background: #2c2d2eb9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie5:target {
    display: block;
}

#cockText {
    transition: 0.5s;
    flex-direction: column;
    display: none;
}

#defaultAnecdoteText {
    transition: 0.5s;
    flex-direction: column;
    display: none;
}

#memeBlock {
    transition: 0.5s;
    flex-direction: column;
    display: none;
}

#videoBlock {
    transition: 0.5s;
    flex-direction: column;
    display: none;
}

#smisolBlock {
    transition: 0.5s;
    flex-direction: column;
    display: none;
}